
*{
    padding:0;
    margin: 0;
}
.day1 {
    padding: 33px;
}
.day1 ul{
    list-style: decimal;
    padding: 1px 2px 1px 65px;
}
h1{
    background-color: tomato;
    /*using this we able to color the bacground of the html tag*/
    color: aqua;
    text-align: end;
    /*
    using it to set position of the text in pages  uder the tag
    1.center
    2. left
    3. right
    4. justify
    5. inherit
    6. start
    7. end;
    */
}
.about_css{
    /***********************************************
    height and width property in css
    **********************************************/
    height: inherit;
    width: 210px;
    /*we use height and width to set total size of the box in html page
    hight and width has following values
    1. auto
    2. lenght(cm,px,rem etc)
    3.%
    4. initial
    5. inherit
    */

    /**********************************************
    padding property in css
    *************************************************/
    padding: 21px;
    /*padding use to to give padding in the text in the tag box.
    1.padding-top
    2.padding-left
    3.padding-right
    4. padding-bottom
    */


    /*****************************************
    border property of css
   ******************************************/
    border-top: 5px ridge rgb(131, 103, 103);
    border-bottom: 2px dotted red ;
    /* here also have three part 1. width 2. style 3. color*/
    /*
    1. border-width
    2.border-style
    {
        a. solid
        b.dotted
        c. dashed
        d. double
        e. ridge( use for 3d border)
        f. inset
        g. outset
        h. hidden
        i. none
        j. groove(3d border)
    }
    3.boder-color
    every tag has 4 part( top, left, right, bottom)
    */
    border-radius: 12px;
    /*using this propery we able to make the border style as i want*/



    /************************************
    margin proprty in css
    **************************************/
    margin: 92px;
    /*using margin property we able to give margin of the tag box in html 
    1.margin-top
    2.margin-left
    3.margin-right
    4. margin-bottom
    */





    text-align: justify;/*this very good thing forever in css for using for blog*/
    background-color: aqua;
}
.css_set ul{
    background-color: bisque;
    /********************************************************
    max-height and min-height property and max-width and min-width
    **********************************************************/
    max-width: 1000px;
    max-height: 120px;
    text-align: center;
    padding: 12px;
    margin:16px;
    /*************************************************************
    outline property in css
    it take place to the margin portion
    ***************************************************************/
    outline:red 12px solid  ;
    /*all property link border. therea re no property like border-radius. But there are very intersting property like outline-offset*/
    /**********************************************************
    list-style property use to set style of list
    **********************************************************/
    list-style: none;
}
.box_style{
    background-color: rgba(45, 178, 202, 0.26);
    padding: 22px;
    margin: 45px 100px 10px 100px;
    border: 15px solid rgba(196, 147, 147, 0.466);
    border-radius:12px ;
    text-align: justify;
    outline: 15px solid rgb(126, 13, 13);
    outline-offset: 9px;/*there is space for this property outline-offset property*/
}
.box_style ul{
    padding: 2% 3% 3% 20%;
    /* list-style: none; */
}